<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Shanara Watts</h1>
        <p>
            My name is Shanara Watts. I am 21 years old.
            I am majoring in Information Technology at 
            The University of the West Indies, Mona. 
            My favourite colour is lilac and favourite 
            food is fries.
        </p>
    </body>
</html>